# General Purpose
tqdm
ipython
ipykernel

# Profiling
psutil

# Computing
numpy
torch
torchaudio
pytorch-lightning
torchmetrics
epanns-inference
scikit-learn

# Visualization & Stats
matplotlib
matplotlib-inline
seaborn
pandas
tensorboard

# Energy - CO2
codecarbon==2.4.2
dash
dash-bootstrap-components==0.13.1
fire