# General Purpose
tqdm
ipython
ipykernel
soundfile

# Computing
# numpy
# torch
einops
transformers
fvcore
# torchaudio
torchlibrosa
# torchvision
pytorch-lightning
torchmetrics
scikit-learn

# Visualization & Stats
matplotlib
matplotlib-inline
seaborn
pandas
tensorboard
