# General Purpose
tqdm
ipython
ipykernel

# Computing
numpy
torch
torchaudio
pytorch-lightning
torchmetrics
epanns-inference
scikit-learn

# Visualization & Stats
matplotlib
matplotlib-inline
seaborn
pandas
tensorboard
